* {
    margin: 0px;
    padding: 0px;
}

header,
footer {
    width: auto;
    display: flex;
    background-color: rgb(50, 178, 221);
    color: rgb(255, 196, 48);
    justify-content: center;
    font-size: 32px;
}

#core {
    width: auto;
    display: flex;
    background-color: lightblue;
    color: white;
    justify-content: space-between;
    padding: 10px;
}

#results {
    float: right
}